# Disable Rules

--disable   \
    andOperator,    \
    anyObjectProtocol,  \
    applicationMain,    \
    assertionFailures,  \
    blankLineAfterImports,  \
    blankLinesAroundMark,   \
    blankLinesAtEndOfScope, \
    blankLinesAtStartOfScope,   \
    blankLinesBetweenChainedFunctions,  \
    blankLinesBetweenScopes,    \
    braces, \
    conditionalAssignment,  \
    consecutiveBlankLines,  \
    consecutiveSpaces,  \
    consistentSwitchCaseSpacing,    \
    duplicateImports,   \
    elseOnSameLine, \
    emptyBraces,    \
    enumNamespaces, \
    extensionAccessControl, \
    fileHeader, \
    genericExtensions,  \
    headerFileName, \
    hoistAwait, \
    hoistPatternLet,    \
    hoistTry,   \
    indent, \
    initCoderUnavailable,   \
    leadingDelimiters,  \
    linebreakAtEndOfFile,   \
    linebreaks, \
    modifierOrder,  \
    numberFormatting,   \
    opaqueGenericParameters,    \
    preferForLoop,  \
    preferKeyPath,  \
    redundantBackticks, \
    redundantBreak, \
    redundantClosure,   \
    redundantExtensionACL,  \
    redundantFileprivate,   \
    redundantGet,   \
    redundantInit,  \
    redundantInternal,  \
    redundantLet,   \
    redundantLetError,  \
    redundantNilInit,   \
    redundantObjc,  \
    redundantOptionalBinding,   \
    redundantParens,    \
    redundantPattern,   \
    redundantRawValues, \
    redundantReturn,    \
    redundantSelf,  \
    redundantStaticSelf,    \
    redundantType,  \
    redundantTypedThrows,   \
    redundantVoidReturnType,    \
    semicolons, \
    sortDeclarations,   \
    sortImports,    \
    sortTypealiases,    \
    spaceAroundBraces,  \
    spaceAroundBrackets,    \
    spaceAroundComments,    \
    spaceAroundGenerics,    \
    spaceAroundOperators,   \
    spaceAroundParens,  \
    spaceInsideBraces,  \
    spaceInsideBrackets,    \
    spaceInsideComments,    \
    spaceInsideGenerics,    \
    spaceInsideParens,  \
    strongOutlets,  \
    strongifiedSelf,    \
    todos,  \
    trailingClosures,   \
    trailingCommas, \
    trailingSpace,  \
    typeSugar,  \
    unusedArguments,    \
    void,   \
    wrap,   \
    wrapArguments,  \
    wrapAttributes, \
    wrapLoopBodies, \
    wrapMultilineStatementBraces,   \
    wrapSingleLineComments, \
    yodaConditions

# Enable Rules
# --enable blankLinesAroundMark
# --lineaftermarks false

# --enable blankLinesAtStartOfScope
# --typeblanklines preserve

--enable blankLinesBetweenChainedFunctions

# Swift Version

--swiftversion 6