# Disable All Rules
--disable all

# Default Rules

--enable andOperator
--enable anyObjectProtocol
--enable applicationMain
--enable assertionFailures
--enable blankLineAfterImports
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenChainedFunctions
--enable blankLinesBetweenScopes
--enable braces

# --enable conditionalAssignment

--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable consistentSwitchCaseSpacing
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable enumNamespaces

--enable extensionAccessControl
--extensionacl on-declarations

# --enable fileHeader
# --enable genericExtensions

--enable headerFileName
--enable hoistAwait

# --enable hoistPatternLet

--enable hoistTry
--enable indent
--enable initCoderUnavailable
--enable leadingDelimiters
--enable linebreakAtEndOfFile
--enable linebreaks
--enable modifierOrder

# --enable numberFormatting

--enable opaqueGenericParameters

# --enable preferForLoop

--enable preferKeyPath
--enable redundantBackticks
--enable redundantBreak
--enable redundantClosure
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantInternal
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantOptionalBinding
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--enable redundantStaticSelf
--enable redundantType
--enable redundantTypedThrows
--enable redundantVoidReturnType
--enable semicolons
--enable sortDeclarations
--enable sortImports
--enable sortTypealiases
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable strongOutlets
--enable strongifiedSelf
--enable todos
--enable trailingClosures

# --enable trailingCommas

--enable trailingSpace
--enable typeSugar
--enable unusedArguments
--enable void
--enable wrap
--enable wrapArguments
--enable wrapAttributes
--enable wrapLoopBodies

# --enable wrapMultilineStatementBraces

--enable wrapSingleLineComments
--enable yodaConditions

# Opt-in Rules
--enable blankLineAfterSwitchCase
--enable blankLinesBetweenImports
--enable redundantProperty
--enable wrapConditionalBodies
--enable wrapEnumCases
--enable wrapSwitchCases

# Swift Version

--swiftversion 6